    body {
        font-size: 30px;
        background-color: red;
        text-align: center;
        color: rgb(240, 248, 255);
    }

    h1 {
        color: aliceblue;
    }

    h2 {
        color: aliceblue;
    }

    .hotel
    {width: 200px;
    padding-top: 100px;padding-bottom: 50px;}


    .h2-1 {
        color: black;
    }

    #h2-2 {
        color: rgb(81, 30, 210);
    }
    .titulo-1{padding-top: 100px;
    padding-block: 100px;}
